.appDownload {
    width: 100%;
    height: max-content;
    background-color: #017bfe;
    margin-top: 6rem;
    &__wrapper {
        width: 100%;
        height: max-content;
        // margin: auto;
        display: flex;
        @include respond(tab-port) {
            flex-direction: column-reverse;
        }
    }
    &__right {
        flex: 0 0 50%;
    }
    &__image {
        display: flex;
        position: relative;
        width: 100%;
    }
    &__img {
        position: absolute;
        z-index: 100;
        left: 43%;
        width: 30%;
        transform: translateX(-50%);
        transform: scale(0.9);
        padding-top: 2rem;
    }
    &__vshape {
        width: 100%;
    }
    &__left {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 8rem;
        }
        &--header {
            // font-weight: 700;
            font-size: clamp(1.5rem, 5vw, 2.5rem);
            line-height: clamp(4rem, 5vw, 8rem);
            font-style: normal;
            color: $color-white;
        }
        &--heading {
            font-weight: 700;
            font-size: clamp(0.8rem, 5vw, 1.5rem);
            color: $color-white;
            font-family: Gilmer;
            font-style: normal;
            font-weight: bold;
        }
        &--details {
            font-weight: 400;
            font-size: clamp(0.7rem, 5vw, 1.8rem);
            font-family: Gilmer;
            // font-style: normal;
            color: $color-white;
            line-height: clamp(1.5rem, 5vw, 2rem);
            resize: both;
            margin-top: 3rem;
        }
    }
    &__bgChange {
        background-color: $color-white !important;
    }
    &__textColor {
        color: #017bfe !important;
    }
    &__bgColor {
        color: #017bfe;
    }
    &__btnContainer {
        margin-top: 2rem;
        &--text {
            font-family: Gilmer;
            font-style: normal;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 24px;
            color: #f8fcff;
        }
    }
    &__btn {
        display: flex;
        margin-top: 2rem;
        @include respond(tab-port) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 4rem;
        }
        @include respond(medium-phone) {
            padding-left: 10%;
        }
    }
}