$color-primary-1:#fffaf5;
$color-white:#fff;
$color-secondary-text:#374B58;
$color-tertiary-text:#E57A1A;
$color-primary-2:#E1EFFF;
$color-primary-3:#F8EFE8;
$color-primary-4:#017BFE;
$color-primary-5:#F8FCFF;
$color-columns-text:#F8FCFF;
$color-secondary-1:#001D3F;
$color-footer-1:#A5B0B7;
$color-placeholder:#C1CACF;
$colors-colums-bg: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);