.navbar {
    width: 100%;
    background-color: $color-primary-1;
    border-bottom: 1px solid $color-primary-1;
    position: absolute;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 0 2.5rem 10rem;
        &--logo {
            height: 4rem;
            width: 10rem;
        }
    }
}