.mainFooter {
    width: 100%;
    height: 35vh;
    background-color: $color-columns-text;
    padding-top: 5rem !important;
    display: grid;
    grid-gap: 2rem;
    justify-content: space-between;
    grid-template-rows: 4rem;
    grid-template-columns: repeat(3, 1fr);
    @include respond(medium-phone) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 4rem);
        grid-gap: 5rem;
        justify-items: center;
        height: 50vh;
    }
    &__left {
        padding-left: 10%;
    }
    &__text {
        color: $color-footer-1;
        font-family: Gilmer;
        font-weight: 400;
        font-size: clamp(1.1rem, 5vw, 1.6rem);
        font-style: normal;
        line-height: clamp(2.1rem, 5vw, 4rem);
    }
    &__center {
        position: relative;
        @include respond(medium-phone) {
            padding-left: 10%;
        }
    }
    &__heading {
        color: $color-footer-1;
        font-family: Gilmer;
        font-weight: 700;
        font-size: clamp(0.8rem, 5vw, 1.2rem);
        font-style: normal;
        line-height: clamp(2rem, 5vw, 4rem);
        padding-left: 1rem;
    }
    &__centerParagraph {
        margin-top: 4rem;
    }
    &__centerText {
        color: $color-footer-1;
        font-family: Gilmer;
        font-weight: 400;
        font-size: clamp(0.8rem, 5vw, 1.2rem);
        font-style: normal;
        margin-top: 4rem;
        line-height: clamp(1rem, 5vw, 2rem);
    }
    &__subscribe {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }
    input {
        margin-right: -3.5rem;
        padding: 1rem;
        border-radius: 8px;
        border: 1.5px #dce3e7 solid;
        background-color: $color-white;
        width: 70%;
    }
    input::placeholder {
        font-family: Gilmer;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.8rem;
        color: $color-placeholder;
        padding-left: 2rem;
    }
    button {
        border: none;
        outline: none;
        background-color: $color-white;
        cursor: pointer;
    }
    &__right {
        margin-top: 0.01rem;
        @include respond(medium-phone) {
            padding-left: 10%;
        }
    }
    &__social {
        display: flex;
        width: 50%;
        margin-top: 3rem;
        justify-content: space-around;
        @include respond(medium-phone) {
            padding-top: 5rem;
        }
    }
    &__roundShape {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: rgba(203, 203, 203, 0.23);
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
    }
    &__linkedln {
        position: absolute;
    }
    &__twitter {
        position: absolute;
    }
    &__facebook {
        position: absolute;
    }
    &__instagram {
        position: absolute;
    }
    &__linkedlnbg {
        background-color: rgba(0, 119, 255, 0.1) !important;
    }
}